<% layout('layouts/boilerplate.ejs') %>

<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/new" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Title: </label>
                <input type="text" class="form-control" name="campground[title]" id="title" required>
                <div class="invalid-feedback">Please enter a title</div>                          
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location: </label>
                <input type="text" class="form-control" name="campground[location]" id="location" required>
                <div class="invalid-feedback">Please enter a campground location</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image Url: </label>
                <input type="text" class="form-control" name="campground[image]" id="image" required>        
                <div class="invalid-feedback">Please enter image link</div>
            </div>            
            <div class="mb-3">
                <label for="price" class="form-label">Campground Price: </label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" name="campground[price]" id="price" placeholder="0" required>
                    <div class="invalid-feedback">Please enter Campground Price</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description: </label>
                <div class="input-group">
                    <input type="text" class="form-control" name="campground[description]" id="description" required>
                    <div class="invalid-feedback">Please enter Campground Description</div>
                </div>
            </div>            
            <button type="submit" class="btn btn-primary">Submit</button>    
        </form>
        <footer class="text-end">
            <a href="/campgrounds">Back to all campgrounds</a>
        </footer>        
    </div>
</div>



